<template>
<div class="auth">
  <register v-if="registering" @register-success="register_success()" @swapauth="swapauth()"></register>
  <login v-else @swapauth="swapauth()" :postregister="success_message"></login>
</div>
</template>
<script>
import Login from './Login'
import Register from './Register'
export default {
  name: 'auth-me',
  components: {
    Login,
    Register
  },
  data () {
    return {
      registering: false,
      success_message: null
    }
  },
  methods: {
    swapauth: function () {
      this.registering = !this.registering
    },
    register_success: function () {
      this.success_message = 'Registration succesful, please log in.'
      this.registering = false
    }
  }
}
</script>
<style>
.register, .login {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.auth a:visited, .auth a:active, .auth a:hover, .auth a:link {
  color: blue;
}

.form-error {
  margin-left: auto;
  margin-right: auto;
}
</style>
