<template>
  <div class="app">
    <chat-pane></chat-pane>
  </div>
</template>

<script>
// @ is an alias to /src
import ChatPane from '@/components/ChatPane'

export default {
  components: {
    ChatPane
  }
}
</script>

<style lang="scss">

</style>
