<template>
<div class="login">
  <h3>Login</h3>
  <form type="POST" onsubmit="return false" novalidate>
    <div v-if="postregister" class="form-error" style="background-color: green !important;">{{postregister}}</div>
    <form-error v-bind:error="getError('general')"></form-error>
    <form-error :error="getError('email')"></form-error>
    <label for="email">Email</label><br/>
    <input
    type="email"
    name="email"
    id="email"
    maxlength="120"
    placeholder="Email"
    v-model.lazy.trim="txtEmail"
    /><br/>
    <form-error v-bind:error="getError('password')"></form-error>
    <label for="password">Password</label><br/>
    <input
    type="password"
    name="password"
    id="password"
    placeholder="Password"
    maxlength="30"
    v-model.lazy.trim="txtPassword"/><br/>

    <button v-on:click="submit()">Log In</button><br/>
  </form>
  <p>Don't have an account? <a href='#' @click.prevent="$emit('swapauth')">Register</a></p>
</div>
</template>
<script>
import auth from '../api/auth'
import FormError from '../components/FormError'
export default {
  data () {
    return {
      txtEmail: null,
      txtPassword: null,
      errors: {'email': null, 'password': null},
      success: 'green'
    }
  },
  components: {
    FormError
  },
  props: {
    postregister: null
  },
  methods: {
    submit: function () {
      this.errors = {}
      let valid = true

      if (!this.txtEmail) {
        this.$set(this.errors, 'email', 'Missing email.')
        valid = false
      }
      if (!this.txtPassword) {
        this.$set(this.errors, 'password', 'Missing password.')
        valid = false
      }

      if (!valid) {
        return
      }

      auth.login(this.txtEmail, this.txtPassword, (response) => {
        if (response.status === 200 && response.data && response.data.success === true) {
          this.postregister = null
          this.$parent.$parent.authenticate()
        } else if (response && response.status === 401) {
          // using $set means the binding will self-update more reliably
          this.$set(this.errors, 'general', 'Invalid login info.')
        } else if (response.data && response.data.errors) {
          this.errors = response.data.errors
        }
      })
    },

    getError: function (err) {
      return this.errors[err]
    }
  }
}
</script>
