<template>
  <div class="register">
    <h3>Please register to continue:</h3>
    <form method="POST" onsubmit="return false" novalidate>
      <form-error v-bind:error="getError('general')"></form-error>
      <form-error v-bind:error="getError('username')"></form-error>
      <label for="username">Username</label><br/>
      <input
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      maxlength="30"
      v-model.lazy.trim="txtUsername"
      /><br/>
      <form-error v-bind:error="getError('email')"></form-error>
      <label for="email">Email</label><br/>
      <input
      type="email"
      name="email"
      id="email"
      maxlength="120"
      placeholder="Email"
      v-model.lazy.trim="txtEmail"
      /><br/>
      <form-error v-bind:error="getError('password')"></form-error>
      <label for="password">Password</label><br/>
      <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      maxlength="30"
      v-model.lazy.trim="txtPassword"/><br/>
      <label for="confirm-password">Confirm password</label><br/>
      <input
      type="password"
      name="confirm-password"
      id="confirm-password"
      placeholder="Confirm password"
      v-model.lazy.trim="txtConfirm"/><br/>

      <button v-on:click="submit()">Register</button><br/>
      <p>Already have an account? <a href='#' @click.stop.prevent="$emit('swapauth')">Log In</a></p>
    </form>
  </div>
</template>
<script>
import auth from '../api/auth'
import FormError from '../components/FormError'

export default {
  name: 'register',
  data () {
    return {
      txtUsername: null,
      txtEmail: null,
      txtPassword: null,
      txtConfirm: null,
      errors: {}
    }
  },
  components: {
    FormError
  },
  methods: {
    submit: function () {
      this.errors = {}
      if (!(this.txtUsername &&
           this.txtEmail &&
           this.txtPassword &&
           this.txtConfirm)) {
        this.errors['general'] = 'Missing fields.'
        return
        // TODO: replace with modal
      }

      if (this.txtPassword !== this.txtConfirm) {
        this.errors['password'] = 'Password did not match confirmation.'
        return
      }

      auth.register(this.txtUsername, this.txtPassword, this.txtEmail, (response) => {
        if (response.status === 200 && response.data.success === true) {
          console.log('success emit')
          this.$emit('register-success')
          // TODO proper redirect to login
        } else {
          this.errors = response.data.errors
          console.log(this.errors)
        }
      })
    },

    getError: function (err) {
      return this.errors[err]
    }
  }
}
</script>
