<template>
<div class='channel-list'>
  <ul>
    <li v-for="channel in channels"
        :key="channel.name"
        @click="switchChannel(channel)"
        :class="{active: appstate.active_channel.name === channel.name}"
        >#{{channel.name}}</li>
  </ul>
  <div v-if="isServerOwner" @click="showNewChannel()" class="btn btn-info flex-row-bottom">New Channel</div>
  <modal v-show="newChannelVisible">
    <template slot="header">Create Channel</template>
    <template slot="body">
      <label>Channel name:</label><br/>
      <input type="text" v-model.trim="txtChannelName" />
    </template>
    <template slot="footer">
      <button class="btn-green" @click="createChannel()">Create</button>
      <button class="btn-red" @click="hideNewChannel()">Cancel</button>
    </template>
  </modal>
</div>
</template>
<script>
import Modal from './Modal'
import appState from '../store/app_state'
export default {
  props: ['channels', 'appstate'],
  components: {
    Modal
  },
  data: function () {
    return {
      newChannelVisible: false,
      txtChannelName: null
    }
  },
  computed: {
    isServerOwner () {
      return appState.state.active_server && appState.state.active_server.owner === appState.state.user_id
    }
  },
  methods: {
    switchChannel: function (channel) {
      this.appstate.active_channel = channel
      this.$emit('channel-switch')
    },
    showNewChannel () {
      this.newChannelVisible = true
    },
    hideNewChannel () {
      this.newChannelVisible = false
    },
    createChannel () {
      let channelName = this.txtChannelName
      let serverid = appState.state.active_server.id
      this.hideNewChannel()
      this.$emit('create-channel', serverid, channelName)
    }
  }
}
</script>
<style lang="scss">
.channel-list {
  width: 200px;
  display: flex;
  flex-direction: column;
  ul {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    li {
      width: 100%;
      display: block;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 2rem;
      line-height: 2rem;
    }
    li:hover {
      background: orange;
      cursor: pointer;
    }
    li.active {
      background: darkorange;
    }
  }
}
</style>
