<template>
  <div class="input-bar">
    <textarea type="text"
    class="input-bar-text"
    placeholder="Enter your message here"
    @keydown.enter.exact="onEnter($event)"
    v-model.trim="txtMessage"
    />
  </div>
</template>
<script>
// import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
export default {
  components: {
    // FontAwesomeIcon
  },
  props: ['store'],
  data () {
    return {
      txtMessage: null
    }
  },
  methods: {
    onEnter (event) {
      if (this.txtMessage) {
        this.txtMessage = this.txtMessage.replace(/^\s+|\s+$/g, '')
        if (this.txtMessage.length > 0) {
          // clear message box before sending
          let msg = this.txtMessage
          this.txtMessage = null

          this.store.sendMessage(msg)
          this.$emit('message-sent')
        }
      }
      if (event) {
        event.preventDefault()
      }
      return false
    }
  }
}
</script>
<style lang="scss" scoped>
.input-bar
{
  margin-top: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  // padding: 1rem;
  // height: 2rem;
  textarea {
    // height: 100%;
    width: 100%;
    resize: none;
    padding: 0.25rem;
    min-height: 3rem;
  }
}
</style>
