<template>
  <div class="message-list" v-chat-scroll="{always: false, smooth: true}">
    <message v-for="message in orderedMessages"
             :key="message.id"
             :message="message"></message>
  </div>
</template>
<script>
import Message from './Message'
import _ from 'lodash'

export default {
  props: ['messages'],
  components: {
    Message
  },
  computed: {
    orderedMessages: function () {
      return _.orderBy(this.messages, 'id')
    }
  }
}
</script>
