<template>
  <div class="message">
    <div class="message-context">
      <a v-if="isMessageOwner" href="#" class='destroy-icon' @click="destroy(message.id)">
        <font-awesome-icon :icon="['fas', 'trash']"></font-awesome-icon>
        Delete
      </a>
    </div>
    <div class="message-avatar" v-bind:style="avatarStyle">
    </div>
    <div class="message-proper">
      <div class="message-head">
        <span class="message-username">{{message.username}}</span>&nbsp;
        <span class="message-timestamp">{{new Date(message.date).toLocaleString()}}</span>
      </div>
      <div class="message-content" v-html="formatted"></div>
    </div>
  </div>
</template>
<script>
import AppState from '../store/app_state'
import MessageStore from '../store/messages'
export default {
  props: ['message'],
  data () {
    return {
      formatted: null,
      timestamp: null
    }
  },
  computed: {
    avatarStyle () {
      return {
        backgroundImage: 'url("' + AppState.server_url + '/api/avatar/' + this.message.user_id + '")'
      }
    },
    isMessageOwner (message) {
      return this.message.user_id === AppState.state.user_id ||
             AppState.state.active_server.user_id === AppState.state.active_server.owner
    }
  },
  methods: {
    destroy (id) {
      MessageStore.destroyMessage(id)
    }
  },
  beforeMount: function () {
    var md = require('markdown-it')({
      breaks: true,
      linkify: true
    })
      .disable([ 'link', 'image', 'heading', 'table' ])
    this.formatted = md.render(this.message.content)
    console.log(this.avatar)
  }
}
</script>
<style>
.message-content p {
  margin: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.message-proper {
  display: inline-block;
}
.message-username {
  font-weight: bold;
}
.message-avatar {
  background-size: 200px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100%;
  margin-right: 0.5rem;
}

.message-context {
  visibility: hidden;
  display: inline-flex;
  float: right;
  user-select: none;
  margin-right: 1rem;
  margin-top: 0.1rem;
}

.message:hover .message-context {
  visibility: visible;
}

.destroy-icon {
  color: red;
}

pre {
  background: rgba(85,50,50,0.2);
  padding: 0.25rem;
}
</style>
