<template>
  <div class="app">
    <transition name="fade">
      <div v-if="!connected" class="fullscreen">
        <div>Connecting, please wait...</div>
      </div>
    </transition>
    <div class="main" v-if="connected && authed">
      <server-list :store="ServerStore" :appstate="AppState.state" @logout="logout()" @server-switch="loadInitMessages()"></server-list>
      <channel-list :channels="ServerStore.state.channels" :appstate="AppState.state" @channel-switch="loadInitMessages()" @create-channel="createChannel"></channel-list>
      <chat-pane :store="MessageStore" @newChannel="showChannelDialog()"></chat-pane>
      <modal v-show="isModalVisible"
      @close="hideModal">
      </modal>
      <!-- <button v-on:click="showModal()">Click</button> -->
    </div>
    <div class="special-main" v-else>
      <auth-me></auth-me>
    </div>
  </div>
</template>

<script>
// @ is an alias to root
import ServerList from './components/ServerList'
import ChannelList from './components/ChannelList'
import ChatPane from './components/ChatPane'
import MessageStore from './store/messages'
import Modal from './components/Modal'
import AuthPage from './views/Auth'
import auth from './api/auth'
import ServerStore from './store/servers'
import AppState from './store/app_state'

export default {
  data () {
    return {
      ServerStore,
      AppState,
      MessageStore,
      auth,
      isModalVisible: false,
      authed: false,
      connected: false
    }
  },
  components: {
    ChatPane,
    Modal,
    ServerList,
    ChannelList,
    'auth-me': AuthPage
  },
  methods: {
    showModal: function () {
      this.isModalVisible = true
    },
    hideModal: function () {
      this.isModalVisible = false
    },
    authenticate: function () {
      auth.checkLoggedIn(function (obj) {
        console.log('pre-login')
        obj.authed = auth.state.hasSession
        obj.connected = true
        obj.loggedIn()
      }, this)
    },
    loggedIn: function () {
      console.log('logged in')
      this.ServerStore.updateServers()
      AppState.startSocket()
      console.log(this.ServerStore.state.servers)
      // this.loadInitMessages()
    },
    logout: function () {
      auth.logout(function (obj) {
        obj.authed = auth.state.hasSession
        MessageStore.state.messages = []
        ServerStore.state.servers = []
        ServerStore.state.chanenls = []
      }, this)
    },
    loadInitMessages: function () {
      console.log(this.AppState.state.active_server, this.AppState.state.active_channel)
      this.MessageStore.loadInitMessages(this.AppState.state.active_server, this.AppState.state.active_channel)
    },
    createChannel (id, name) {
      this.ServerStore.createChannel(id, name, (obj, code) => {
        console.log('made channel')
        obj.ServerStore.getChannelList(id, null, null)
      }, this)
    }
  },
  beforeMount: function () {
    this.authenticate()
    console.log('sock')
    console.log(AppState.state.socket)
  }
}
</script>
<style lang="scss">

  $primary-medium: #009688;
  $primary-light: #33ab9f;
  $primary-dark: #00695f;

  * {
    box-sizing: border-box;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  html, body {
    margin: 0;
    height: 100%;
    font-family: 'Arial';
    font-size: 1rem;
  }
  .main {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .app {
    height: 100%;
  }
  // .server-list, .chat-pane {
  //   display: flex;
  //   flex-direction: row;
  //   position: relative;
  // }

  .fullscreen {
    margin-top: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: white;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    div {
      width: fit-content;
      margin: 0 auto;
      font-size: 300%;
    }
  }

  .column-heading {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'Helvetica';
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 1.1rem;
  }

  .server-list {
    background: $primary-dark;
    color: white;
  }

  .channel-list {
    background: $primary-medium;
    color: white;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
</style>
